<header id="header">
    <div class="inner">
        <a href="#" class="image avatar"><%- image_tag("images/avatar.jpg", {alt: "teste"}) %></a>
        <h1><strong>André Ferreira</strong></h1>
        <h2>Full Stack Developer</h2>
        <h3>Programming, Blockchain and more.</h3>        
    </div>
</header>